<!--src/main/resources/templates/guestbook/list.html-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">Guestbook List Page
      <a class="btn btn-outline-primary" th:href="@{/guestbook/register}">Register</a>
    </h1>
    <form th:action="@{/guestbook/list}" id="frmSearch" method="get">
      <div class="input-group">
        <div class="input-group-prepend" style="margin-right:5px">
          <select class="form-control selectType" id="selectType" name="type">
            <option style="text-align:right">😊▼</option>
            <option value="t">제목</option>
            <option value="c">내용</option>
            <option value="w">작성자</option>
            <option value="tc">제목+내용</option>
            <option value="tcw">제목+내용+작성자</option>
          </select>
        </div>
        <input type="text" class="form-control keyword" id="keyword" name="keyword" style="border-radius:5px">
        <div class="input-group-append" style="margin-left:5px">
          <button class="btn btn-outline-primary btnSearch">Search</button>
        </div>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Gno</th>
        <th scope="col">Title</th>
        <th scope="col">Writer</th>
        <th scope="col">RegDate</th>
      </tr>
      </thead>
      <tbody>
      <!--/*
     th:onclick="|location.href='@{/guestbook/read(gno=${guestbookDTO.gno},page=${pageResultDTO.page})}'|"
     */-->
      <tr th:each="guestbookDTO : ${pageResultDTO.dtoList}" style="cursor:pointer;"
          th:onclick="|goRead(${guestbookDTO.gno},${pageResultDTO.page})|"
          onmouseover="this.style.background='#d6e6ff'"
          onmouseout="this.style.background='white'">
        <th scope="row">[[${guestbookDTO.gno}]]</th>
        <td>[[${guestbookDTO.title}]]</td>
        <td>[[${guestbookDTO.writer}]]</td>
        <td>[[${#temporals.format(guestbookDTO.regDate, 'yyyy/MM/dd hh:mm')}]]</td>
      </tr>
      </tbody>
    </table>
    <ul class="pagination h-100 justify-content-center align-items-center">
      <li class="page-item " th:if="${pageResultDTO.prev}">
        <a class="page-link" tabindex="-1"
           th:href="@{/guestbook/list(page=${pageResultDTO.start-1})}">Prev</a>
      </li>
      <li th:each="page : ${pageResultDTO.pageList}"
          th:class=" 'page-item ' + ${pageResultDTO.page == page?'active':''} ">
        <a class="page-link"
           th:href="@{/guestbook/list(page=${page})}">[[${page}]]</a>
      </li>
      <li class="page-item " th:if="${pageResultDTO.next}">
        <a class="page-link"
           th:href="@{/guestbook/list(page=${pageResultDTO.end+1})}">Next</a>
      </li>
    </ul>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
      // document의 태그를 모두 읽고 난뒤 실행되는 함수
      window.onload = function(){
        var msg = [[${msg}]]
        // 일회성 msg의 내용이 비거나 history 상태가 비지 않는 경우 return
        if(msg === '' || history.state) return

        if(msg) {  // truthy 데이터가 올 경우만 if문 실행
          const myModal = new bootstrap.Modal(document.querySelector('#myModal'),
                          { backdrop: true });
          document.querySelector(".modal-body").innerHTML
            = `<p>${msg}되었습니다.</p>`
          myModal.show()
        }
        // history 이용해서 모달창 보여준거에 대한 기록을 clear!
        history.replaceState({}, null, null) //(state, unused, url)
        frmSearch = document.querySelector("#frmSearch")
        btnSearch = document.querySelector(".btnSearch")
        selectType = document.querySelector("#selectType")
        keyword = document.querySelector("#keyword")
        selectType.onchange = () => {
        alert("hello")
          if(selectType.options[0].selected){
            keyword.disabled = true;
          }
          else {
          keyword.disabled = false;
          if()
          }
        }
        keyword.disable = true;
      }
      function goRead(gno, page){
        url = /*[[@{/guestbook/read}]]*/'url'
        location.href = url + `?gno=${gno}&page=${page}`
      }

    </script>
  </th:block>
</th:block>
</html>