<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h3>선택 변수 *{ }</h3>
<xmp>
  <div th:object="${sampleDTO}">
    <p>
      <span>sampleDTO ${}</span><br>
      <span th:text="${sampleDTO.getSno()}"></span>
      <span th:text="${sampleDTO.getFirst()}"></span>
      <span th:text="${sampleDTO.getLast()}"></span>
      <span th:text="${sampleDTO.getRegTime()}"></span>
    </p>
    <p>
      <span>sampleDTO *{}</span><br>
      <span th:text="*{sno}"></span>
      <span th:text="*{first}"></span>
      <span th:text="*{last}"></span>
      <span th:text="*{regTime}"></span>
    </p>
  </div>
</xmp>
</body>
</html>